<link rel="stylesheet" type="text/css" href="assets/store.css">

<style>
  .centered {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
  }

  .col-centered {
    display: inline-block;
    float: none;
  }
</style>

<section class="padding-top-100">
  <div class='container centered'>
    <div class="col-centered col-xs-11 col-sm-6 col-lg-4 col-md-4">
      <%= react_component('LoginSignup', show: 'login', redirect_url: @redirect_url) %>
    </div>
  </div>
</section>
