<link rel="stylesheet" type="text/css" href="assets/checkout.css">
<link rel="stylesheet" type="text/css" href="assets/products.css">

<%= react_component('NavBar', signedIn: @signed_in) %> 
<div class="container top-margin">
  <%= react_component('Cart', products: @products, subtotal: @subtotal) %>
</div>
