<div class="container">
  <div>
    <a href="/checkout" class="shop-background checkout">
      Checkout >>>
    </a>
  </div>
  <%= react_component('Cart', products: @products, subtotal: @subtotal) %>
</div>
