<div class="container">
  <script type="text/javascript" src="assets/autocomplete.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaTHvfZtxVUnyQGVYTrajZ_gCsmGXKoJM&libraries=places&callback=initAutocomplete" async defer></script>
  <link rel="stylesheet" type="text/css" href="assets/checkout.css">
  <%= react_component('CreateAddress') %>
</div>
