<div>
  <p><%= @name %>,</p>

  <p>We know the holidays are coming up and what can be better than the gift of delicious steak? Check out out our curated holiday packages at www.iheartmeat.com/holidays. There's something for everyone!</p>

  <%= render partial: 'support_signature' %>
</div>
