<div>
  <p>The link to reset your password is below.</p>

  <p><a href=<%= @url %>>Click Here</a></p>

  <p>If this was not you, please contact us asap</p>

  <%= render partial: 'signature' %>
</div>
