<div>
  <p>Hey there!</p>
  <p>Thanks for your interest in iheartmeat - the best steaks you'll find, we can guarantee that.</p>
  <p><%= @promotion_language %></p>

  <%= render partial: 'support_signature' %>
</div>
