<div>
  <p><%= @name %>,</p>

  <p>We are now on social media! Please checkout out the links below and like, comment, share, and/or review! If you have tried the product, a review on Facebook would be amazing.</p>

  <p><a href="https://www.facebook.com/therealiheartmeat">Facebook</a></p>
  <p><a href="https://www.instagram.com/therealiheartmeat/">Instagram</a></p>

  <p>Thanks!</p>

  <%= render partial: 'support_signature' %>
</div>
