<style>
  .image-style {
    width: 150px;
    display: inline;
    height: 30px;
    margin-top: -10px;
    margin-right: 8px;
  }
</style>

<div>
  <p><%= @name %>,</p>

  <p>Welcome to <img class="image-style" src="assets/logo_simple.png" />, your one-stop shop for the best steak you'll ever have. Please take a look around, inlcuding our <a href="www.iheartmeat.com/about">FAQ</a> section.</p>

  <p>If you have any questions or comments do not hesitate to reach out to us.</p>

  <%= render partial: 'sam_signature' %>
</div>
