<div>
  <p><%= @name %>,</p>

  <p>Welcome to IHeartMeat, your one-stop shop for the highest quality and locally sorced meat with next day delivery.</p>

  <p>If you have any questions or comments do not hesitate to reach out to us.</p>

  <%= render partial: 'sam_signature' %>
</div>
