<style>
  .image-style {
    width: 150px;
    display: inline;
    height: 30px;
    margin-top: -10px;
    margin-right: 8px;
  }
</style>

<div>
  <p><%= @name %>,</p>

  <p>Welcome to iheartmeat, your one-stop shop for the best steaks you'll ever have. You can find our amazing steaks<a href="www.iheartmeat.com/steaks"> HERE</a>.</p>

  <p>If you have any questions or comments do not hesitate to reach out to us.</p>

  <%= render partial: 'sam_signature' %>
</div>
