<%= react_component('NavBar', signedIn: true) %> 
<div class="container top-margin">
  <%= react_component('Checkout', order: @order, items: @items, payments: @payment_options, addresses: @address_options, delivery_options: @delivery_options) %>
</div>
