<style>
  .image-style {
    width: 150px;
    display: inline;
    height: 30px;
    margin-top: -10px;
    margin-right: 8px;
  }

  .centered {
    vertical-align: center;
  }

  .bigger {
    /*font-size: 30px*/
  }
</style>

<link rel="stylesheet" type="text/css" href="assets/information.css">
<div class="container top-margin bottom-margin">
  <h1>About</h1>
  <p class="bigger">Prior to <span class="centered"><img class="image-style" src="assets/logo_simple.png" /></span>the only way to enjoy a truely remarkable steak was to go to an expensive steakhouse or wait a 7-10 days for a steak to arrive from who knows where. How about the grocery store you might ask? It's not even close - their steaks are not in the same universe as our steaks. We age every steak, they age none. Most of our steaks are USDA Prime, theirs aren't. This is why we started <span class="centered"><img class="image-style" src="assets/logo_simple.png" /></span> - to bring you the best steaks at reasonable prices.</p>

  <h1>FAQ</h1>
  <p class="question">Is your meat sourced locally?</p>
  <p>Our meat comes from Chicago packing companies who source most of the meat, but not all, from local farmers. These meat packing companies are the ones that supply the best restaurants and hotels.</p>
  <p class="question">What if I’m not home when the package arrives?</p>
  <p>We insulate all of our packages with special lining and coolant to make sure it stays fresh for at least 12 hours from the time we drop it off. However, we recommend putting the meat in your freezer or fridge by 10pm if possible.</p>
  <p class="question">What if I don’t like the meat or I think it might be spoiled?</p>
  <p>It happens. Send us an email to <a href="mailto:support@iheartmeat.com">support@iheartmeat.com</a> and we will refund you.</p>
  <p class="question">Can I find your meat at the local grocery store?</p>
  <p>No, not only do many grocery stores not carry USDA Prime, but they also don't age their meat. Aging tenderizes meat and gives it that rich, mouthwatering flavor.</p>
  <p class="question">Does your meat come frozen?</p>
  <p>You have the option of choosing fresh or frozen. If you get it frozen you will have to let the steak thaw for a day before eating it. If you plan on eating it on the same day you get it then you should get it fresh.</p>
  <p class="question">How do I cook your steak?</p>
  <p>First, make sure the steak is fully thawed. Start by seasoning the steak on all sides. Next, throw it on a very hot grill or use a pan to create a nice dark crust. Turn heat down to medium and let the steak cook to your desired temperature. Depending on the thickness of the steak and what temperature you like, it should be about 3-4 minutes per side. We recommend using a meat thermometer to check the temperature and caution eating undercooked meat.</p>
  <p class="question">Do you deliver in my area?</p>
  <p>Check <a href="/availability">here.</a></p>
  <p class="question">Is your meat grass-fed?</p>
  <p>If it is, it will say in the description. However, most steak enthusiasts actually believe that grass-fed meat doesn't taste as good as corn-fed meat.</p>

  <h1>Contact</h1>
  <p>Feel free to reach out to us anytime with questions, comments or suggestions <a href="mailto:support@iheartmeat.com">support@iheartmeat.com</a>.</p>
</div>
