<link rel="stylesheet" type="text/css" href="assets/information.css">
<div class="container top-margin bottom-margin">
  <!-- <h1 class="story">Our Story</h1>
  <p class="bigger"><span class="centered"><img class="image-style" src="assets/logo_simple.png" /></span> was started so that everyday can be steak day. We bring the finest steaks to your home, next day, at super value prices. Our suppliers work with the top steak houses and 5 star hotels so rest assured that you will get everything you expected and some. If we're wrong about that you will get a full refund. Join the movement and get the best steaks you'll ever have today.</p> -->
  <a href="/steaks" class="shop-background shop">
    Steaks >>>
  </a>
  <!-- <img class="logo img img-responsive" src="assets/logo.png" /> -->
  <!-- <h1>About Us</h1> -->
  <!-- <h1 class="story">FAQ</h1> -->
  <p class="question">What makes your steaks so good?</p>
  <p class="answer">All of our steaks are USDA Prime (with the exception of our amazing filet mignon), which is the highest quality cut available. All of our steaks are aged for 4 weeks to let them tenderize and give them that unbelievable flavor. Aging is an extremely important process yet most grocery stores don't age their meat.</p>
  <p class="question">Can I find your meat at the local grocery store?</p>
  <p class="answer">No, not only do many grocery stores not carry USDA Prime, but they also don't age their meat. Aging tenderizes meat and gives it that rich, mouthwatering flavor.</p>
  <p class="question">Is there a minimum order amount?</p>
  <p class="answer">Nope.</p>
  <p class="question">Is your meat sourced locally?</p>
  <p class="answer">Our meat comes from local Chicago packing companies but the meat is not sourced locally. Because of our very high standards, meat is handpicked from the best farms across the US.</p>
  <p class="question">Do you deliver in my area?</p>
  <p class="answer">Check <a href="/availability">here.</a></p>
  <p class="question">How long do the steaks last for?</p>
  <p class="answer">All steaks are vacuum sealed which give them a lot of duration. You can leave the steaks in the fridge for 10 days or in the freezer for an entire year.</p>
  <p class="question">What time will my order arrive?</p>
  <p class="answer">Orders arrive between 1pm and 3pm on your scheduled delivery date.</p>
  <p class="question">What if I’m not home when my order arrives?</p>
  <p class="answer">All of our steaks are delivered in special coolers with ice packs to make sure the steaks stay fresh for at least 10-12 hours from the time we drop them off. We strongly recommend putting the steaks in your fridge or freezer by 10pm.</p>

  <p class="question">Do you deliver on weekends?</p>
  <p class="answer">Unfortunately not at the moment.</p>

  <p class="question">How are steak house prices calculated?</p>
  <p class="answer">We scoured through steakhouse menus, found the average price and then added a 17% gratuity to it.</p>
  <p class="question">Do your steaks come raw or cooked?</p>
  <p class="answer">All steaks come raw.</p>
  <p class="question">Does your meat come frozen?</p>
  <p class="answer">No, all meat is cut to order and delivered fresh. Mmmmm.</p>
  <p class="question">The steaks look a little brown, why?</p>
  <p class="answer">All steaks are vacuum sealed to preserve freshness. The lack of oxygen gives the steaks this color - but it's 100% normal. As a matter of fact, when you take the steak out of the packaging you will see it start to change back to its "original" color.</p>
  <p class="question">How do I cook your steak?</p>
  <p class="answer">Make sure the steak is fully thawed if you had it in the freezer. Start by seasoning the steak on all sides. Next, throw the steak on a very hot grill; depending on the thickness and what temperature you like, it cooks for about 3-4 minutes per side. If you're cooking a thicker steak, like a filet mignon, cook on medium for about 6 minutes per side. We recommend using a meat thermometer to check the temperature and caution eating undercooked meat.</p>
  <p class="question">Does your 100% satisfaction cover theft?</p>
  <p class="answer">Unfortunately no. You are responsible for telling us where a safe location to leave your package is. You can do that when checking out.</p>
  <p class="question">Is your meat grass-fed?</p>
  <p class="answer">If it is, it will say in the description. However, most steak enthusiasts actually believe that grass-fed meat doesn't taste as good as corn-fed meat.</p>
  <p class="question">Why are you only selling 6 types of steaks?</p>
  <p class="answer">We decided we were going to keep it simple and only offer the most popular and delicious cuts for now.</p>
  <p class="question">What if I want something that's not on the menu or I have a large order?</p>
  <p class="answer">Send us an email and we will work with you to make it happen.</p>

  <h1 class="story" id="contact">Contact</h1>
  <p class="answer">You can reach us anytime with questions, comments or suggestions at <a href="mailto:support@iheartmeat.com">support@iheartmeat.com</a>.</p>
  <!-- <div class="centered">
    <button onclick="window.location='/steaks'" class="blue" id="shop-button">Steaks</button>
  </div> -->
</div>
