<link rel="stylesheet" type="text/css" href="assets/information.css">
<div class="container top-margin bottom-margin">
  <h1>About</h1>
  <p>Enjoying fresh, high-quality meat should only be a click away. Our meat is top-of-the-line, the same stuff you get at hotels and restaurants but can’t find at grocery stores, delivered straight to your doorstep. The meat is easy to cook and can be enjoyed any day of the week. We guarantee you will like our meat or your money back.</p>

  <h1>FAQ</h1>
  <p class="question">Is your meat sourced locally?</p>
  <p>Yes it is.</p>
  <p class="question">Where does your meat come from?</p>
  <p>It comes from the same companies that supply the best restaurants and hotels.</p>
  <p class="question">What if I’m not home when the package arrives?</p>
  <p>We insulate all of our packages with special lining and coolant to make sure it stays fresh until midnight on your scheduled delivery date.</p>
  <p class="question">What if I don’t like the meat or I think it might be spoiled?</p>
  <p>It happens. Send us an email desrcibing the situation to <a href="mailto:support@iheartmeat.com">support@iheartmeat.com</a> and we will refund you.</p>
  <p class="question">Can I find your meat at the local grocery store?</p>
  <p>No, most grocery stores do not carry the meat we sell. Economically it’s better for them to sell mid-tier meat.</p>
  <p class="question">How do I cook your meat?</p>
  <p>It’s easy. Starting by choosing your favorite seasonings and seasoning both sides of the meat. Next, you can throw it on the grill or pan-sear it. Depending on the thickness of the steak and what temperature you like, cook it for about 3-4 minutes per side. Turn the heat off and let it sit for a few mins. Voila, the perfect steak.</p>
  <p class="question">Do you deliver in my area?</p>
  <p>Check <a href="/availability">here.</a></p>
  <p class="question">Is your meat grass-fed?</p>
  <p>It will say in the description if it is. We believe that corn-fed tastes just as good if not better than grass-fed. With regards to healthiness, grass-fed means the cow was antibiotic free for 90 days prior to slaughter; but before that, who knows?</p>

  <h1>Contact</h1>
  <p>You can reach us via email at <a href="mailto:support@iheartmeat.com">support@iheartmeat.com</a> with questions, comments or suggestions.</p>
</div>
