<style>
  .message {
    font-size: 6vw;
  }

  .container {
    margin: auto;
    width: 50%;
    text-align: center;
  }

  .shop {
    display: block;
  }

  .shop-button {
    font-size: 4vw;
  }

</style>

<script>
  function shop() {
    window.location = '/#store'
  }
</script>

<%= react_component('NavBar', signedIn: @signed_in) %> 
<div class="container">
  <div class="message">
    Woops, this page does not exist!
  </div>
  <div class="shop">
    <button class="btn btn-success shop-button" onClick="shop()">Keep Shopping</button>
  </div>
<div>

