<link rel="stylesheet" type="text/css" href="assets/checkout.css">

<style>
  .message {
    font-size: 30px;
  }

  .container {
    margin: auto;
    width: 50%;
    text-align: center;
  }

  .shop- {
    display: block;
  }

  .shop-button {
    font-size: 4vw;
  }

  .top-margin {
    margin-top: 100px;
  }

  p {
    font-size: 50px;
  }
</style>


<div class="container">
  <!-- <img class="logo img img-responsive" src="assets/logo.png" /> -->
  <div class="message">
    <%= @message %>
  </div>
  <div class="shop-">
    <p><a href='/#store'>Shop</a></p>
  </div>
<div>

