<style>
  .message {
    font-size: 6vw;
  }

  .container {
    margin: auto;
    width: 50%;
    text-align: center;
  }

  .shop {
    display: block;
  }

  .shop-button {
    font-size: 4vw;
  }

  .top-margin {
    margin-top: 100px;
  }
</style>

<script>
  function shop() {
    window.location = '/#store'
  }
</script>

<div class="container">
  <div class="message">
    <%= @message %>
  </div>
  <div class="shop">
    <button class="btn btn-success shop-button" onClick="shop()">Keep Shopping</button>
  </div>
<div>

