<link rel="stylesheet" type="text/css" href="assets/store.css">

<style>
  .centered {
    text-align: center;
  }
</style>

<section class="padded-top-50">
  <div class='container centered'>
    <%= react_component('Home', orders: @orders) %>
  </div>
</section>
