<link rel="stylesheet" type="text/css" href="assets/checkout.css">
<link rel="stylesheet" type="text/css" href="assets/products.css">

<div class='container'>
  <%= react_component('ResetPassword', token: @token) %>
</div>
