<style>
  .centered {
    margin: 0 auto;
    width: 400px;
    margin-top: 40px;
  }
</style>

<div class='container centered'>
  <%= react_component('LoginSignup', show: 'register', redirect_url: @redirect_url) %>
</div>
