<div>
  <p><%= @params[:name].present? ? @params[:name].capitalize : 'Hi there' %>,</p>
  <p>Not sure what to eat for dinner? Why not enjoy some juicy, thick-cut steaks from iheartmeat. Order today and get your steaks tomorrow!</p>
  <div style="text-align: center">
    <a href="https://www.iheartmeat.com/steaks?campaign=emaildec13"><button style="width: 200px;
      height: 70px;
      background-image: linear-gradient(to bottom, #63c359 0%, #48ab3e 100%);
      text-align: center;
      font-size: 30px;
      color: white;
      margin-top: 10px;
      margin-bottom: 10px;">Get Dinner</button>
    </a>
  </div>
  <%= render partial: 'user_mailer/support_signature' %>
</div>
