<div>
  <p><%= @params[:name].present? ? @params[:name] : 'Hi there' %>,</p>
  <p>Did you notice that it's snowing? Luckily iheartmeat delivers steaks right to your door and you don't have to be out in the cold!</p>
  <p>Check us out for holiday gifts too!</p>
  <a href="https://www.iheartmeat.com/steaks"><button style="width: 200px;
    height: 70px;
    background-image: linear-gradient(to bottom, #63c359 0%, #48ab3e 100%);
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;">Shop Now</button></a>
  <%= render partial: 'user_mailer/support_signature' %>
</div>
