<div>
  <p><%= @params[:name].present? ? @params[:name] : 'Hi there' %>,</p>
  <p>We are trying to make our customers happier and are asking for 30 seconds of your time to fill out a survey (we promise it's actually 30 seconds). The survey can be found here <a href="https://www.surveymonkey.com/r/S7VDVMN">https://www.surveymonkey.com/r/S7VDVMN</a></p>
  <%= render partial: 'user_mailer/support_signature' %>
</div>
