<div>
  <p><%= @user.first_name %>,</p>

  <p>Order #<%=@order[:order_number] %> has been placed and will arrive on <%=@order[:formatted_expected_delivery_date]%>. You will love it!</p>

  <p>If you have any questions, comments or suggestions you can reach us at the email below.</p>

  <%= render partial: 'user_mailer/support_signature' %>
</div>
