<div class="container">
  <p>Good morning Joel,</p>

  <p>This is an automated email. We have <%=@orders.count%> order(s) for today.</p>

  <% @orders.each do |order| %>
    <h3>Order #<%=order[:order_number] %></h3>
    <table>
      <tbody>
        <tr>
          <th style="padding: 30px; padding-top: 15px;text-decoration: underline;">Type</th>
          <th style="padding: 30px; padding-top: 15px;text-decoration: underline;">Quantity</th>
        </tr>
        <% order[:items].each do |item| %>
          <tr>
            <td style="padding: 30px; padding-top: 15px;width: 30px;">
              <%= item[:name] %>
            </td>
            <td style="float: right; padding: 30px; padding-top: 15px;width: 30px;">
              <%= item[:amount] %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <p>Sam</p>
</div>
