/*Order.jsx*/
.base-container {
  background-color: #ff3333;
  border-radius: 0px 0px 25px 25px;
  display: inline-block;
  box-shadow: 0 8px 6px -6px black;
  font-size: 24px;
  width: 100%;
}

.base-title {
  font-size: 30px;
  background-color: #87cccc;
  text-align: center;
  padding: 20px;
  border-radius: 25px 25px 0px 0px;
  display: inline-block;
  width: 100%;
}

.centered {
  text-align: center;
}

.base-input {
  display: inline-block;
  font-size: 24px;
  border: grey solid;
  outline: none;
  margin: 5px;
}

.base-button {
  margin: 10px;
  width: 100px;
  height: 40px;
  font-size: 24px;
  padding: 5px;
  text-align: center;
}
