/*Order.jsx*/
/*body {
  background: #c7a7a7;
}*/

.base-container {
  display: inline-block;
  box-shadow: 0 8px 40px -6px black;
  font-size: 24px;
  width: 100%;
}

.base-title {
  font-size: 30px;
  background-color: #e1e5f4;
  text-align: center;
  padding: 20px;
  /*display: inline-block;*/
  width: 100%;
  font-family: Arial;
}

.centered {
  text-align: center;
}

.base-input {
  display: inline-block;
  font-size: 24px;
  border: none;
  border-bottom: 2px solid;
  outline: none;
  margin: 5px;
}

.base-button {
  margin: 10px;
  width: 100px;
  height: 40px;
  font-size: 24px;
  padding: 5px;
  text-align: center;
}

.left-float {
  float: left;
}

.right-float {
  float: right;
}
