/*.how-box span {
  font-size: 60px;
  padding-right: 10px;
  vertical-align: middle;
}

.how-box p {
  font-size: 35px;
  vertical-align: middle;
}

.how-box {
  margin: 10px 0px 10px 0px;
  display: inline-block;
}
*/
