p {
  font-size: 20px;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.question {
  /*text-decoration: underline;*/
  color: #7d7d7d;
}

.bottom-margin {
  margin-bottom: 30px
}

.image-style {
    width: 150px;
    display: inline;
    height: 40px;
    margin-top: -10px;
    margin-right: 8px;
  }

.centered {
  vertical-align: center;
}

.bigger {
  font-size: 30px;
  margin-bottom: 50px;
  padding: 20px;
}

.answer {
  /*padding-left: 20px;
  padding-right: 20px;*/
  margin-bottom: 25px
}

.story {
  margin-bottom: 30px;
  /*font-family: 'Fredoka One', cursive;*/
}

#shop-button {
  background: blue;
  width: 200px;
  height: 100px;
  color: white;
  font-size: 50px;
  border: 1px solid black;
  border-radius: 3px;
}
