#credit-card {
  border: solid;
  background: #f0f0f5;
  display: inline-block;
  margin: 0 auto;
}

#choose-payment {
  border: solid;
  background: #f0f0f5;
  display: inline-block;
  margin: 0 auto;
}
