<div class="container">
  <%= react_component('Search') %>
  <% @places.each do |place| %>
    <li><a target="_blank" href='/places/<%=  place.id %>'><%=  place.name %></a><%= place.status.try(:status) %></li>
  <% end %>
</div>
