<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Free Bootstrap Theme for Developers</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="assets/plugins/prism/prism.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/custom.css">
    <link rel="stylesheet" type="text/css" href="assets/pricing.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head> 

<body data-spy="scroll">
    <!-- ******HEADER****** --> 
   
    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center padding-bottom">
            <!-- <img src="assets/brokolly-resized.jpg" /> -->
            <h2 class="title"><span class="highlight">Brokolly</span></h2>
            <p class="intro">Never wait in line again</p>
           <!--  <div class="btns">
                <a class="btn btn-cta-secondary" href="http://themes.3rdwavemedia.com/" target="_blank">Demo</a>
                <a class="btn btn-cta-primary" href="http://themes.3rdwavemedia.com/website-templates/devaid-free-bootstrap-theme-developers/" target="_blank">Download</a>
            </div> -->
        </div>
    </section><!--//promo-->

    <section id="what" class="features section">
        <div class="container">
            <div class="row">
                <h2 class="title">What is Brokolly?</h2>
            </div>
            <div class="row">
                <p>Groceries to your doorstep</p>
                <br/>
                <p>No waiting in lines</p>
                <br />
                <p>No high delivery premiums</p>
            </div>
        </div>
    </section><!--//features-->

    <section id="features" class="features section">
        <div class="container">
            <div class="row">
                <h2 class="title">How Brokolly Works</h2>
            </div>
            <div class="row">
                <div class="feature-box">
                    <p><span class="number">1</span> Download the app and register</p>
                </div>
            </div>
            <div class="row">
                <div class="feature-box">
                    <p><span class="number">2</span> Choose a subscription plan - weekly, biweekly, or unlimited deliveries</p>
                </div>
            </div>
            <div class="row">
                <div class="feature-box">
                    <p><span class="number">3</span> Place your order and food is delivered to your unit</p>
                </div>
            </div>
        </div>
    </section><!--//features-->
    
    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">Why Brokolly?</h2>
            <p style="font-size: 20px" class="intro text-center">We're a subscription-based grocery service that partners with high-rise residential buildings</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-crosshairs"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Savings</h3>
                        <p>Groceries purchased and delivered in bulk, savings passed on to customers</p>
                    </div><!--//content-->
                </div><!--//item-->  
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Landlords Win</h3>
                        <p>We share profits with our landlord partners while they get an additional ammenity</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Time saver</h3>
                        <p>We pick-up and deliver groceries directly to your apartment</p>
                    </div><!--//content-->
                </div><!--//item-->         
                <div class="clearfix visible-md"></div>    
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-tablet"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Convenient</h3>
                        <p>Never leave the house to buy groceries again - all ordering done through a mobile app</p>
                    </div><!--//content-->
                </div><!--//item-->                
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Quality Guaranteed</h3>
                        <p>We guarantee our products are fresh and of the highest quality</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-coffee"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Easy to Use</h3>
                        <p>With past orders saved, you can re-order with just 1 click</p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
    
    <!-- ******FEATURES****** --> 
    
    <!-- ******DOCS****** --> 
    <section id="docs" class="docs section">
        <div class="section-headlines text-center">
            <h2>Subscription Plans</h2>
        </div>

        <div class="row-fluid">
            <div class="pricing-table row-fluid text-center">
                <div class="span4">
                    <div class="plan">
                        <div class="plan-name">
                            <h2>Basic</h2>
                            <p class="muted">One Delivery per Week</p>
                        </div>
                        <div class="plan-price">
                            Pricing TBD
                        </div>
                       <!--  <div class="plan-details">
                            <div>
                                <b>Unlimited</b> Download
                            </div>
                            <div>
                                <b>Free</b> Priority Shipping
                            </div>
                            <div>
                                <b>Unlimited</b> Warranty
                            </div>
                        </div> -->
                    </div>
                </div>

                <div class="span4">
                    <div class="plan">
                        <div class="plan-name">
                            <h2>Standard</h2>
                            <p class="muted">2 Deliveries per Week</p>
                        </div>
                        <div class="plan-price">
                            Pricing TBD
                        </div>
                       <!--  <div class="plan-details">
                            <div>
                                <b>Unlimited</b> Download
                            </div>
                            <div>
                                <b>Free</b> Priority Shipping
                            </div>
                            <div>
                                <b>Unlimited</b> Warranty
                            </div>
                        </div> -->
                    </div>
                </div>

                <div class="span4">
                    <div class="plan">
                        <div class="plan-name">
                            <h2>Premium</h2>
                            <p class="muted">Unlimited Deliveries</p>
                        </div>
                        <div class="plan-price">
                            Pricing TBD
                        </div>
                        <!-- <div class="plan-details">
                            <div>
                                <b>Unlimited</b> Download
                            </div>
                            <div>
                                <b>Free</b> Priority Shipping
                            </div>
                            <div>
                                <b>Unlimited</b> Warranty
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section><!--//features-->
    
    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contact</h2>
                <p class="intro  text-center">I hope you find this Bootstrap template useful. <br />Feel free to get in touch if you have any questions or suggestions.</p>
                <div class="author-message">                      
                    <div class="profile">
                        <img class="img-responsive" src="assets/images/profile.png" alt="" />
                    </div><!--//profile-->
                    <div class="speech-bubble">
                        <h3 class="sub-title">Want to get more freebies in the future?</h3>
                        <p>I tweet about #UX and #webdev related resources/content at <a href="https://twitter.com/3rdwave_themes" target="_blank">@3rdwave_themes</a> 
                        <p>If you like what I do, you can follow me on twitter and I will keep you informed about my next free template there :)</p>
                        <p><strong>[Tip for developers]:</strong> If you take on freelance work you can put a tailored message here about your availability to attract potential clients. Be creative and good luck!</p> 
                        <div class="source">
                            <span class="name"><a href="https://twitter.com/3rdwave_themes" target="_blank">Xiaoying Riley</a></span>
                            <br />
                            <span class="title">UX/UI Designer</span>
                        </div><!--//source-->
                    </div><!--//speech-bubble-->                        
                </div><!--//author-message-->
                <div class="clearfix"></div>
                <div class="info text-center">
                    <h4 class="sub-title">Get Connected</h4>
                    <ul class="social-icons list-inline">
                        <li><a href="https://twitter.com/3rdwave_themes" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/3rdwavethemes" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/xiaoying"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="http://instagram.com/xyriley"><i class="fa fa-instagram"></i></a></li>  
                        <li><a href="https://dribbble.com/Xiaoying"><i class="fa fa-dribbble"></i></a></li>   
                        <li class="last"><a href="mailto: hello@3rdwavemedia.com"><i class="fa fa-envelope"></i></a></li>              
                    </ul>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->  
      
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
        </div><!--//container-->
    </footer><!--//footer-->
     
    <!-- Javascript -->          
    <script type="text/javascript" src="assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>    
    <script type="text/javascript" src="assets/plugins/jquery.easing.1.3.js"></script>   
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script> 
    <script type="text/javascript" src="assets/prism.js"></script>    
    <script type="text/javascript" src="assets/js/main.js"></script>       
</body>
</html> 

