<!DOCTYPE html>
<head>
    <title>Brokolly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="assets/stile.css">
</head>

<body>
    <section class="main">
        <div class="container">
            <div class="text-box">
                <h1>Brokolly</h1>
                <p>Grocery Delivery Done Right</p>
            </div>
        </div>
    </section>

    <section class="about">
        <div class="container">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-10">
               <p>Is the Grocery Store Far Away?</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-10">
                <p>Hate Waiting in Lines?</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-10">
               <p>Tired of Carrying Heavy Groceries Home?</p>
            </div>
            <div>
                <p class="loud">Brokolly is Here to Save the Day!</p>
            </div>
        </div>
    </section>

    <section class="how">
        <div class="container">
            <div class="title">
                <h1>How Brokolly Works</h1>
            </div>
            <div class="bullet">
                <p><span class="number">1</span> Download the app and register</p>
            </div>
            <div class="bullet">
                <p><span class="number">2</span> Choose a subscription plan </p>
            </div>
            <div class="bullet">
                <p><span class="number">3</span> Place your order </p>
            </div>
            <div class="bullet">
                <p><span class="number">4</span> Groceries delivered to your unit </p>
            </div>
        </div>
    </section>

    <section class="landlord">
        <div class="container">
            <div class="title">
                <h1>A Great Option for Landlords</h1>
            </div>
            <div class="box">
                    <!-- <img id="broccoli-1" class="" src="assets/broccoli-1.jpg" /> -->
                    <div>
                        <p>Brokolly is a grocery delivery service targeting tenants of large, high-rise buildings. By delivering groceries in bulk our logistic costs go down and the savings are passed onto the consumer.</p>
                    </div>
            </div>
        </div>
    </section>

    <section class="tenant">
        <div class="container">
            <div class="title">
                <h1>An Affordable Solution for Tenants</h1>
            </div>
            <div class="box">
                    <!-- <img id="broccoli-1" class="" src="assets/broccoli-1.jpg" /> -->
                    <div>
                        <p>By delivering grociers in bulk, Brokolly saves on it's logistics costs and those savings are passed on to the tenants. We expect each delivery to cost under $2!</p>
                    </div>
            </div>
        </div>
    </section>

</body>
