<style>
  th, td {
    /*border-right: solid 7px;*/
    padding: 20px;
    text-align: center;
    width: 17%;
  }
  th:last-child, td:last-child {
    border-right: none;
  }
  tr {
    /*border-bottom: solid 7px;*/
    height: 100px;
  }
  tr:last-child {
    border-bottom: none;
    margin-bottom: 0px;
  }
  .yes-no {
    max-height: 50px;
    max-width: 50px;
  }
  .na {
    font-size: 50px;
    color: orange;
  }
  .comparison {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 24px;
    /*padding: 50px 0px 50px 0px;*/
  }
  .comparison-container {
    background: rgba(0, 0, 0, 0.69);
    color: white;
  }
  .comparison .logo {
    width: 90%;
    /*margin-bottom: -2px;*/
    margin-bottom: 0px;
    min-height: 30px;
    min-width: 80px;
  }
  .padded {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  /*.left { float: left; clear: none;}*/
  @media (max-width: 420px) {
    .yes-no {
      max-height: 15px;
      max-width: 15px;
    }
    .na {
      font-size: 15px;
      color: orange;
    }
    .comparison {
      margin-left: 5px;
      margin-right: 5px;
      font-size: 12px;
      font-weight: bold;
      /*padding: 50px 5px 50px 5px;*/
    }
    .comparison .logo {
      width: 90%;
      /*margin-bottom: -2px;*/
      margin-bottom: 0px;
      min-width: 50px;
      min-height: 20px;
    }
    th, td {
      padding: 3px;
      text-align: center;
      width: 17%;
    }
    tr {
    /*border-bottom: solid 7px;*/
    height: 50px;
    }
  }
</style>
<div class="comparison-container">
  <div class="comparison padded">
    <h1 class="why-us centered">How Do We Compare?</h1>
    <table>
      <tbody>
        <tr>
          <th></th>
          <th>Grocery Store</th>
          <th>Steakhouse</th>
          <th>Omaha Steaks</th>
          <th><span><img class="logo" src="assets/logo_white.png"></span></th>
        </tr>
        <tr>
          <th>Aged</th>
          <td><span><img class="yes-no" src="assets/redx.png"></span></td>
          <td><span><img class="yes-no" src="assets/greencheckmark.png"></span></td>
          <td><span><img class="yes-no" src="assets/greencheckmark.png"></span></td>
          <td><span><img class="yes-no" src="assets/greencheckmark.png"></span></td>
        </tr>
        <tr>
          <th>Quality</th>
          <td><span><img class="yes-no" src="assets/redx.png"></span></td>
          <td><span><img class="yes-no" src="assets/greencheckmark.png"></span></td>
          <td><span><img class="yes-no" src="assets/greencheckmark.png"></span></td>
          <td><span><img class="yes-no" src="assets/greencheckmark.png"></span></td>
        </tr>
        <tr>
          <th>Price</th>
          <td><span class="na">N/A</span></td>
          <td><span><img class="yes-no" src="assets/redx.png"></span></td>
          <td><span><img class="yes-no" src="assets/redx.png"></span></td>
          <td><span><img class="yes-no" src="assets/greencheckmark.png"></span></td>
        </tr>
        <tr>
          <th>Delivered Next Day</th>
          <td><span class="na">N/A</span></td>
          <td><span class="na">N/A</span></td>
          <td><span><img class="yes-no" src="assets/redx.png"></span></td>
          <td><span><img class="yes-no" src="assets/greencheckmark.png"></span></td>
        </tr>
        <tr>
          <th>Always Fresh, Never Frozen</th>
          <td><span><img class="yes-no" src="assets/redx.png"></span></td>
          <td><span><img class="yes-no" src="assets/redx.png"></span></td>
          <td><span><img class="yes-no" src="assets/redx.png"></span></td>
          <td><span><img class="yes-no" src="assets/greencheckmark.png"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
