<div id="video-container" class="padded centered">
  <h1 class="margin-bottom centered why-us">Simple Steps to Cooking the Perfect Steak</h1>
  <p>Preparation and cooking takes less than 20 minutes</p>
  <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/AmC9SmCBUj4?rel=0&amp;controls=0" frameborder="0" allowfullscreen class="margin-top"></iframe>
</div>
