<link rel="stylesheet" type="text/css" href="assets/index.css">

<style>
  #how-it-works {
    background: #edeaea;
  }

  .padded-50-50 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .padded-bottom-20 {
    padding-bottom: 20px;
  }
</style>

<section id="how-it-works">
  <div class="block">
    <div class="padded">
      <h1 class="why-us centered">How It Works</h1>
      <h3 class="padded-50-50 padded-bottom-20">iheartmeat is different than other online steak delivery services - our steaks come from a network of local suppliers and are delivered fresh, never frozen. We also deliver next day, which you can't find anywhere else. Also, we guarantee the best steaks at the best prices.</h3>
      <!-- <div class="vertical-line"></div> -->
      <div class="how-it-works">
        <img src="assets/mouseclick.png" />
        <p>You pick the steaks, no minimums or membership costs</p>
      </div>
      <div class="how-it-works">
        <img src="assets/butcher.png" />
        <p>Our network of meat suppliers* cut the steaks fresh to order</p>
      </div>
      <div class="how-it-works">
        <img src="assets/delivery.png" />
        <p>We bring the steaks to your door</p>
      </div>
      <div class="how-it-works">
        <img src="assets/pan.png"</div>
        <p>Cook and enjoy in under 20 minutes</p>
      </div>
      <p class="disclaimer">*Our suppliers are fully licensed and pass rigorous inspections by the local and federal government including the USDA, FDA and IDA.</p>
    </div>
  </div>
</section>
