<link rel="stylesheet" type="text/css" href="assets/index.css">

<style>
  #how-it-works {
    background: #edeaea;
  }
</style>

<section id="how-it-works">
  <div class="block">
    <div class="padded">
      <h1 class="why-us centered">How It Works</h1>
      <div class="vertical-line"></div>
      <div class="how-it-works">
        <img src="assets/mouseclick.png" />
        <p>You pick the steaks, no minimums or membership costs</p>
      </div>
      <div class="how-it-works">
        <img src="assets/butcher.png" />
        <p>Our network of meat suppliers* cut the steaks fresh to order</p>
      </div>
      <div class="how-it-works">
        <img src="assets/delivery.png" />
        <p>We bring the steaks to your door</p>
      </div>
      <div class="how-it-works">
        <img src="assets/pan.png"</div>
        <p>Cook and enjoy in under 20 minutes</p>
      </div>
      <p class="disclaimer">*Our suppliers are fully licensed and pass rigorous inspections by the local and federal government including the USDA, FDA and IDA.</p>
    </div>
  </div>
</section>
