<style>
  #how-it-works-reasons {
    /*width: 80%;*/
    margin: 0 auto;
    /*height: 300px;*/
    text-align: center;
    display: inline-block;
    /*background: green;*/
  }

  .how-it-works-reason {
    /*width: 23%;*/
    height: 100%;
    display: inline-block;
    margin: 0;
    /*padding: 0;*/
    font-size: 20px
    padding-left: 0px;
    /*padding-right: 20px;*/
    /*top: 0%;*/
    vertical-align: top;
    display: table-cell;
    text-align: center;
  }

  .how-it-works-reason img {
    width: 100px;
    display: block;
    margin: 0 auto;
  }

  .text-align-center {
    text-align: center;
  }

  .numberCircle {
    width: 25px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    /*border: 2px solid #666;*/
    background: #41c541;
    display: inline-block;
    color: white;
    margin-right: 5px;
  }

  .how-it-works-reason h3 {
    display: inline;
  }

  .how-it-works-reason img {
    /*margin-bottom: 30px;*/
  }

  .how-it-works-reason-description {
    padding-bottom: 0px;

  }

  #how-it-works h2 {
    margin-bottom: 50px;
  }

  .text-left-align {
    text-align: left
  }

  .padding-bottom-20 {
    padding-bottom: 20px;
  }

  @media (max-width: 1000px) {
    .how-it-works-reason-description {
      /*text-align: center;*/
      /*display: none;*/
    }

    .numberCircle {
      /*display: block;*/
      margin: 0 auto;
      /*margin-bottom: 20px;*/
    }

    .how-it-works-reason img {
      margin-bottom: 5px;
    }

    .padding-bottom-20 {
      padding-bottom: 5px;
    }

    .text-left-align {
      text-align: center;
    }

    .how-it-works-reason img {
      margin: 0 auto;
    }
  }
</style>

<div id="how-it-works">
  <h2 class="text-align-center">How It Works</h2>
  <div id="how-it-works-reasons">
    <div class="how-it-works-reason col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <img src="assets/mouseclick.png" class="padding-bottom-20"/>
      <div class="how-it-works-reason-heading text-left-align padding-bottom-20">
        <span class="numberCircle">1</span>
        <h3>You Pick The Steaks</h3>
      </div>
       <div class="how-it-works-reason-description text-left-align">
        <h4>You pick the steaks, no minimums or membership costs</h4>
      </div>
    </div>
    <div class="how-it-works-reason col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <img src="assets/butcher.png" class="padding-bottom-20"/>
      <div class="how-it-works-reason-heading text-left-align padding-bottom-20">
        <span class="numberCircle">2</span>
        <h3>Steaks Cut To Order</h3>
      </div>
      <div class="how-it-works-reason-description text-left-align">
        <h4>Our partnering steak suppliers cut the steaks fresh to order</h4>
      </div>
    </div>
    <div class="how-it-works-reason col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <img src="assets/delivery.png" class="padding-bottom-20"/>
      <div class="how-it-works-reason-heading text-left-align padding-bottom-20">
        <span class="numberCircle">3</span>
        <h3>Steaks Delivered</h3>
      </div>
      <div class="how-it-works-reason-description text-left-align">
        <h4>We bring the steaks to your door</h4>
      </div>
    </div>
    <div class="how-it-works-reason col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <img src="assets/pan.png" class="padding-bottom-20"/>
      <div class="how-it-works-reason-heading text-left-align padding-bottom-20">
        <span class="numberCircle">4</span>
        <h3>Cook and Enjoy</h3>
      </div>
      <div class="how-it-works-reason-description text-left-align">
        <h4>Cook in under 20 minutes</h4>
      </div>
    </div>
  </div>
</div>
