<style>
  .margin-top-20 {
    margin-top: 20px;
  }

  #product-snapshot button {
    font-size: 40px;
    margin: 0 auto;
  }
</style>

<div id="product-snapshot" class="text-align-center">
  <h2>Our Steaks</h2>
  <%= react_component('Products', products: @product_snapshot, showButtons: true, showCartTotals: true) %>
  <button class="btn btn-success margin-top-20" onclick="window.location='/steaks'">See More</button>
</div>
