<style>
  #reviews {
    background-image: url(assets/friends_eating_steak.jpg);
    background-size: cover;
    background-position: left;
  }

  @media (max-width: 700px) {
    #reviews {
      background-image: url(assets/friends_eating_steak_2.jpg);
      background-size: cover;
      background-position: 20% 10%;
    }
  }

  /*#reviews-image {
    position:relative;
    z-index:-1;
    left:0;
    top:0;
    width:100%;
    height:100%;
  }*/
</style>

<div id="reviews">
  <div class="container centered">
    <h1 class="why-us centered">Reviews</h1>
    <div class="review">
      <i class="fa fa-star star" aria-hidden="true"></i>
      <i class="fa fa-star star" aria-hidden="true"></i>
      <i class="fa fa-star star" aria-hidden="true"></i>
      <i class="fa fa-star star" aria-hidden="true"></i>
      <i class="fa fa-star star" aria-hidden="true"></i>
      <p class="text-quote"><span class="quote">"</span>Fantastic steaks man. We both will be repeat customers.<span class="quote">"</span></p>
    </div>
    <div class="review">
      <i class="fa fa-star star" aria-hidden="true"></i>
      <i class="fa fa-star star" aria-hidden="true"></i>
      <i class="fa fa-star star" aria-hidden="true"></i>
      <i class="fa fa-star star" aria-hidden="true"></i>
      <i class="fa fa-star star" aria-hidden="true"></i>
      <p class="text-quote"><span class="quote">"</span>My buddy who hates dry aged said it was the best dry aged he has ever had and he's done all the others ones that specialize in that.<span class="quote">"</span></p>
    </div>
    <div class="review">
      <i class="fa fa-star star" aria-hidden="true"></i>
      <i class="fa fa-star star" aria-hidden="true"></i>
      <i class="fa fa-star star" aria-hidden="true"></i>
      <i class="fa fa-star star" aria-hidden="true"></i>
      <i class="fa fa-star star" aria-hidden="true"></i>
      <p class="text-quote"><span class="quote">"</span>10/10. Melts in your mouth.<span class="quote">"</span></p>
    </div>
    <div class="review">
      <i class="fa fa-star star" aria-hidden="true"></i>
      <i class="fa fa-star star" aria-hidden="true"></i>
      <i class="fa fa-star star" aria-hidden="true"></i>
      <i class="fa fa-star star" aria-hidden="true"></i>
      <i class="fa fa-star star" aria-hidden="true"></i>
      <p class="text-quote"><span class="quote">"</span>I grilled the steak and it came out perfect. Tender and juicy.<span class="quote">"</span></p>
    </div>
    <div class="review">
      <i class="fa fa-star star" aria-hidden="true"></i>
      <i class="fa fa-star star" aria-hidden="true"></i>
      <i class="fa fa-star star" aria-hidden="true"></i>
      <i class="fa fa-star star" aria-hidden="true"></i>
      <i class="fa fa-star star" aria-hidden="true"></i>
      <p class="text-quote"><span class="quote">"</span>Great quality, great price and delivered right to our door ready to cook!<span class="quote">"</span></p>
    </div>
    <div class="review">
      <i class="fa fa-star star" aria-hidden="true"></i>
      <i class="fa fa-star star" aria-hidden="true"></i>
      <i class="fa fa-star star" aria-hidden="true"></i>
      <i class="fa fa-star star" aria-hidden="true"></i>
      <i class="fa fa-star star" aria-hidden="true"></i>
      <p class="text-quote"><span class="quote">"</span>Damn I heart meat. Really good.<span class="quote">"</span></p>
    </div>
  </div>
</div>
