<style>
  #reviews {
    text-align: center;
  }

  #reviews-box {
    text-align: center;
  }

  .review {
    /*border: 1px solid;*/
    /*margin-right: 30px;*/
    margin-bottom: 30px;
    /*min-height: 300px;*/
    padding-top: 30px;
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .min-height-300 {
    min-height: 300px
  }

  .min-height-200 {
    min-height: 200px
  }

  /*.review:nth-child(odd) {
    margin-left: 30px
  }*/

  .review-text {
    display: inline;
  }

  .yellow {
    color: #F7981C;
  }

  #reviews-box p {
    font-size: 30px;
  }

  .review-shadow {
    box-shadow: -4px 3px 20px rgba(238, 236, 236, 0.1), -5px 8px 20px rgba(248, 248, 248, 0.19), 5px 3px 17px rgba(254, 247, 247, 0.1), -10px -9px 20px 0px rgba(222, 221, 221, 0.2)
  }

  .rounded-corners {
    border-radius: 5px;
  }

  #reviews h2 {
    margin-bottom: 50px;
  }

  .vertical-align-top {
    vertical-align: top
  }

  @media (max-width: 1000px) {
    .min-height-300 {
      min-height: 0px
    }

    .min-height-200 {
      min-height: 0px
    }

    #reviews-box p {
      font-size: 24px;
    }
  }
</style>


<div id="reviews">
  <h2>What Our Customers Say</h2>
  <div id="reviews-box">
    <div class="review min-height-200 col-lg-5 col-md-5 col-sm-9 col-xs-9 review-shadow rounded-corners">
      <div>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
      </div>
      <i class="fa fa-quote-left vertical-align-top" aria-hidden="true"></i>
      <p class="review-text">Fantastic steaks man. We both will be repeat customers.</p>
      <div>
        <p>- Dan A.</p>
      </div>
    </div>
    <div class="review min-height-200  col-lg-5 col-md-5 col-sm-9 col-xs-9 review-shadow rounded-corners">
      <div>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
      </div>
      <i class="fa fa-quote-left vertical-align-top" aria-hidden="true"></i>
      <p class="review-text">Damn I heart meat. Really good.</p>
      <div>
        <p>- Jared R</p>
      </div>
    </div>
    <div class="review min-height-200  col-lg-5 col-md-5 col-sm-9 col-xs-9 review-shadow rounded-corners">
      <div>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
      </div>
      <i class="fa fa-quote-left vertical-align-top" aria-hidden="true"></i>
      <p class="review-text">10/10. Melts in your mouth.</p>
      <div>
        <p>- Stefan D.</p>
      </div>
    </div>
    <div class="review min-height-200  col-lg-5 col-md-5 col-sm-9 col-xs-9 review-shadow rounded-corners">
      <div>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
      </div>
      <i class="fa fa-quote-left vertical-align-top" aria-hidden="true"></i>
      <p class="review-text">I grilled the steak and it came out perfect. Tender and juicy.</p>
      <div>
        <p>- Minh H.</p>
      </div>
    </div>
    <div class="review min-height-300 col-lg-5 col-md-5 col-sm-9 col-xs-9 review-shadow rounded-corners">
      <div>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
      </div>
      <i class="fa fa-quote-left vertical-align-top" aria-hidden="true"></i>
      <p class="review-text">My buddy who hates dry aged said it was the best dry aged he has ever had and he's done all the others ones that specialize in that.</p>
      <div>
        <p>- Jason P.</p>
      </div>
    </div>
    <div class="review min-height-300  col-lg-5 col-md-5 col-sm-9 col-xs-9 review-shadow rounded-corners">
      <div>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
        <i class="fa fa-star yellow fa-2x" aria-hidden="true"></i>
      </div>
      <i class="fa fa-quote-left vertical-align-top" aria-hidden="true"></i>
      <p class="review-text">Great quality, great price and delivered right to our door ready to cook!</p>
      <div>
        <p>- Oliver S.</p>
      </div>
    </div>
  </div>
</div>
