<div id="satisfaction" class="padded">
  <div class="container centered">
    <h1 class="why-us centered">Our 100% Satisfaction Guarantee<span><img class="img img-responsive satisfaction-style" src="assets/satisfaction_guarantee.png" /></span></h1>
    <!-- <img class="satisfaction-style" src="assets/satisfaction_guarantee.png" /> -->
    <p>If you don't like our steaks for any reason we will give you a 100% refund. Simple as that.</p>
  </div>
</div>

