<style>
  #styro-box-div {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
  }

  #styro-box-div img {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
  }



</style>


<div id="styro-box-div">
  <h1 class="why-us centered">How Delivery Works</h1>
  <h2>Steaks are delivered between 1pm and 3pm in climate controlled packages so you don't have to be there.</h2>
  <img class="img" src="assets/styro_box_2.png" />
  <h2>We recommend getting your steaks in the fridge or freezer by 10pm on your delivery date.</h2>
</div>
