<link rel="stylesheet" type="text/css" href="assets/index.css">

<style>
  #why-us {
    /*background: yellow;*/
    min-height: 400px;
    padding-bottom: 20px;
  }

  .margin-20-20 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }

  .why-us-header {
    padding: 5px 5px;
    color: white;
  }

  .padded-50-50 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .padded-bottom-20 {
    padding-bottom: 20px;
  }
</style>

<section id="why-us">
  <div class="padded centered margin-0-auto">
    <h1 class="why-us centered">We Are Your Best Option for Steaks</h1>
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-9 colcentered margin-20-20">
      <h2 class="sexy-blue layer-shadow2 why-us-header ">Guaranteed The Best Quality</h2>
      <p>Our steaks are way better than what you would find at the grocery store. So why settle?</p>
      <!-- <span class="fa-stack fa-lg block centered">
        <i class="fa  fa-clock-o fa-lg"></i>
      </span> -->
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-9 colcentered margin-20-20">
      <h2 class="sexy-blue layer-shadow2 why-us-header ">No More Grocery Store Lines</h2>
      <p>Save time and energy, especially in the cold Chicago winter. Let us do the work.</p>
      <!-- <span class="fa-stack fa-lg block centered">
        <i class="fa  fa-clock-o fa-lg"></i>
      </span> -->
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-9 colcentered margin-20-20">
      <h2 class="sexy-blue layer-shadow2 why-us-header ">Delivered Tomorrow</h2>
      <p>We are the only company that can deliver next day (excluding weekends) for only $4.99!</p>
      <!-- <span class="fa-stack fa-lg block centered">
        <i class="fa  fa-clock-o fa-lg"></i>
      </span> -->
    </div>
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-9 colcentered margin-20-20">
      <h2 class="sexy-blue layer-shadow2 why-us-header ">100% Satisfaction Guarantee</h2>
      <p>We are so confident you will like our steaks that if you don't, we will give you a full refund.</p>
      <!-- <span class="fa-stack fa-lg block centered">
        <i class="fa  fa-clock-o fa-lg"></i>
      </span> -->
    </div>
  </div>
  <h3 class="padded-50-50 padded-bottom-20">iheartmeat is different than other online steak delivery services - our steaks come from a network of local suppliers and are delivered fresh, never frozen. We also deliver next day, which you can't find anywhere else. Also, we guarantee the best steaks at the best prices.</h3>
</section>
