<link rel="stylesheet" type="text/css" href="assets/index.css">

<style>
  #why-us {
    /*background: yellow;*/
    min-height: 400px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
    /*background: yellow;*/
    background: #6ef95d;
  }

  /*.margin-20-20 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }*/

  .why-us-header {
    padding: 5px 5px;
    /*color: white;*/
    font-size: 40px;
    font-weight: bold;
  }

/*  .left {
    float: left;
    margin-left: 30px;
  }

  .right {
    float: right;
    margin-right: 30px;
  }*/

  .why-us-underline {
    border-bottom: solid black;
    height: 5px;
    width: 100%;
    color: black;
    margin: 5px 5px;
  }

  .why-us-reason {
    margin: 0 auto;
    float: none;
  }

</style>

<section id="why-us">
  <div class="padded centered margin-0-auto">
    <h1 class="why-us centered">What You Get With Every Order</h1>
    <div class="sixty-px-height">
    <div id="reasons">
      <div class="row">
        <div class="col col-lg-5 col-md-5 col-sm-6 col-xs-9 why-us-reason">
          <h2 class="why-us-header ">Quality</h2>
          <div class="why-us-underline"></div>
          <p>The highest quality steaks that you won't find at the grocery store.</p>
          <!-- <span class="fa-stack fa-lg block centered">
            <i class="fa  fa-clock-o fa-lg"></i>
          </span> -->
        </div>
      </div>
      <div class="row">
        <div class="col col-lg-5 col-md-5 col-sm-6 col-xs-9 why-us-reason">
          <h2 class="why-us-header ">Freshness</h2>
          <div class="why-us-underline"></div>
          <p>Always fresh, never frozen. Every steak is cut fresh to order and is never frozen.</p>
        </div>
      </div>
      <div class="row">
        <div class="col col-lg-5 col-md-5 col-sm-6 col-xs-9 why-us-reason">
          <h2 class="why-us-header">Convenience</h2>
          <div class="why-us-underline"></div>
          <p>Next day delivery to your door. No grocery store lines or walking in the cold.</p>
          <!-- <span class="fa-stack fa-lg block centered">
            <i class="fa  fa-clock-o fa-lg"></i>
          </span> -->
        </div>
      </div>
      <div class="row">
        <div class="col col-lg-5 col-md-5 col-sm-6 col-xs-9 why-us-reason">
          <h2 class="why-us-header ">100% Satisfaction Guarantee</h2>
          <div class="why-us-underline"></div>
          <p>You will love our steaks or your money back. Simple as that.</p>
          <!-- <span class="fa-stack fa-lg block centered">
            <i class="fa  fa-clock-o fa-lg"></i>
          </span> -->
        </div>
      </div>
    </div>
  </div>
</section>
