<style>
  #why-us-box {
    /*height: 50px;*/
    /*width: 30%;*/
    color:white;
    display: inline-block;
    padding: 10px 50px 10px 50px
  }

  .margin-0-auto {
    margin: 0 auto;
  }

  .why-us-reason {
    display: block;
    /*padding-left: 150px;*/
    margin-top: 30px;
    /*padding-right: 50px;*/
  }

  #why-us-reasons {
    display: inline-block;
    margin-top: 30px;
  }

  .absolute {
    position: absolute;
  }

  .left-padding-100 {
    padding-left: 100px;
  }

  .right-padding-50 {
    padding-right: 100px;
  }

  .why-us-reason h3 {
    font-weight: bold;
  }

  #satisfaction-guarantee-box {
    background: rgba(255,213,0,0.3);
    padding: 12px;
    margin: -15px;
    border-radius: 10px;
  }
</style>

<div id="why-us">
  <div id="why-us-box" class="gunmetal layer-shadow2">
    <h3 class="margin-0-auto">What You Get With Every Order</h3>
  </div>
  <div id="why-us-reasons">
    <div class="col-lg-6 col-md-6 why-us-reason left-padding-100 right-padding-50">
      <h3>Quality</h3>
      <h4>The highest quality steaks you won't find at the grocery store.</h4>
    </div>
    <div class="col-lg-6 col-md-6 why-us-reason left-padding-100 right-padding-50">
      <h3>Convenience</h3>
      <h4>Next day delivery. No grocery store lines or walking in the cold.</h4>
    </div>
    <div class="col-lg-6 col-md-6 why-us-reason left-padding-100 right-padding-50">
      <h3>Freshness</h3>
      <h4>Always fresh, never frozen. Every steak is cut fresh to order and has never been frozen.</h4>
    </div>
    <div class="col-lg-6 col-md-6 why-us-reason left-padding-100 right-padding-50">
      <div id="satisfaction-guarantee-box">
        <h3 style="margin-top: 0px">100% Satisfaction Guarantee</h3>
        <h4>You will love our steaks or your money back. Simple as that.</h4>
      </div>
    </div>
  </div>
</div>

