<style>
  .header {
    font-size: 40px;
    text-align: center ;
  }

  .max-width-1000 {
    max-width: 1500px;
  }

  .centered {
    text-align: center
  }

  .minus-margin-top {
    margin-top: -20px;
  }

  .colcentered {
    /*display: inline-block;*/
    float: none;
    margin: 0 auto;
    min-height: 200px;
  }

  .block {
    display: block;
    font-size: 50px;
    /*margin-bottom: 20px;*/
  }

  .item-main {
    font-size: 30px;
    background: rgb(178, 30, 30);
    margin: 20px 40px 20px 40px;
    padding: 20px 20px 20px 20px;
    height: 250px;
    display: inline-block ;
    color: #bababa;
  }

  .top-margin {
    margin-top: 30px;
  }

  .minus-top-margin {
    /*margin-top: -100px;*/
  }

  .underline {
    text-decoration: underline;
    font-size: 50px;
  }

  .image-style {
    width: 500px;
    display: block;
    height: 135px;
    margin-top: -10px;
    /*margin-right: 8px;*/
    margin: 0 auto;
    margin-bottom: 50px;
  }

  p {
    font-size: 30px;
  }

  .about {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0px 40px 0px;
  }

  .margin-bottom {
    margin-bottom: 30px;
  }

  .bigger {
    line-height: 120%;
    /*font-weight: bold;*/
    font-size: 50px;
    font-family: 'Germania One', cursive;
    margin-bottom: 50px;
  }

  .main-section {
    background: url(assets/background.png) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 20px 0px 40px 0px;
  }

  #satisfaction {
    background: #eaf0e9;
    /*padding-top: 20px;*/
    padding-bottom: 50px;
    font-size: 20px;
    /*margin-top:;*/
  }

  .why-us {
    font-size: 50px;
    font-weight: bold;
    padding: 20px;
    /*padding-bottom: 40px;*/
    margin-top: 30px;
  }

  .learn-more {
    padding: 10px;
    font-size: 30px;
    margin-top: 20px;
    /*border: white 2px solid;*/
    background: black;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.10), 0 6px 20px rgba(0, 0, 0, 0.19),
    0 8px 17px rgba(0, 0, 0, 0.10), 0 8px 17px rgba(0, 0, 0, 0.20);
    /*border: solid 2px*/
  }

  .satisfaction-style {
    margin-left: 20px;
    display: inline-block;
  }

  @media (max-width: 992px) {
    .item-main {
      font-size: 20px;
      height: 220px;
      padding-bottom: 0px
    }

    .block {
      margin-bottom: inherit;
      font-size: 30px;
    }

    p {
      font-size: 20px;
    }

    .bigger {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .colcentered {
      min-height: 150px;
      float: none;
    }

    .image-style {
      width: 90%;
      height: 85%;
      margin-bottom: 20px;
    }

    .why-us {
      font-size: 35px;
    }
  }

  @media (max-width: 568px) {
    .item-main {
      font-size: 16px;
      height: 220px;
      padding-bottom: 0px
    }
  }

  @media (max-width: 743px) {
    .satisfaction-style {
      display: none;
    }

    #satisfaction {
      /*background-image: url(assets/satisfaction_guarantee_opaque.png);
      background-repeat: no-repeat;
      background-position: 66% 83%;*/
      font-weight: bold
      font-size: 16px;
      /*padding: 100px 0px 100px 0px;*/
    }
  }
</style>


<div>
  <!-- <h1 class="centered">We will be accepting orders starting Oct 1st!</h1> -->
  <section class="minus-margin-top">
    <div class="row centered main-section">
      <!-- <h1 class="header">We are currently in testing and will be live in mid-September</h1> -->
      <div class="about">
      <!-- <p class="bigger"><span class="centered"><img class="image-style" src="assets/logo_simple.png" /></span> was launched so that you can enjoy the best steaks at reasonable prices with the convenience of next day delivery. All of our steaks are perfectly aged and mostly USDA Prime, which is why they melt in your mouth. These are the steaks that the finest restaurants use and you can't find at the grocery store. Try our steaks and then tell us if you have ever had a better cut of meat anywhere else.</p> -->
        <img class="image-style" src="assets/logo_simple.png" />
        <!-- <img class="satisfaction-style" src="assets/satisfaction_guarantee.png" /> -->
        <p class="bigger">Steak house steaks that don't break the bank.</p>
        <p class="bigger">Delivered. Tomorrow.</p>
        <button onclick="window.location = '/about'" class="learn-more">Learn More</button>
      </div>
    </div>
    <div class="row centered margin-bottom max-width-1000">
      <h1 class="why-us">Only Settle for the Best</h1>
      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-9 colcentered item-main layer-shadow3 sexy-blue">
        <span class="fa-stack fa-lg block centered">
          <i class="fa  fa-clock-o fa-lg"></i>
        </span>
        <p>Our steaks are aged to perfection for a rich, mouthwatering taste.</p>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-9 colcentered item-main layer-shadow3 sexy-blue">
        <span class="fa-stack fa-lg centered block">
          <i class="fa fa-dollar fa-lg"></i>
        </span>
        <p>Cut your steak bill in <u>half</u> without sacrificing quality or taste</p>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-9 colcentered item-main layer-shadow3 sexy-blue">
        <span class="fa-stack fa-lg block centered">
          <i class="fa fa-calendar-check-o fa-lg"></i>
        </span>
        <p>All steaks are freshly cut to order, never frozen.</p>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-9 colcentered item-main layer-shadow3 sexy-blue">
        <span class="fa-stack fa-lg block centered">
          <i class="fa fa-shopping-basket fa-stack-1x"></i>
          <i class="fa fa-ban fa-stack-2x"></i>
        </span>
        <p>You won't find these steaks at the grocery store.</p>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-9 colcentered item-main layer-shadow3 sexy-blue">
        <span class="fa-stack fa-lg block centered">
          <i class="fa fa-car fa-lg" aria-hidden="true"></i>
        </span>
        <p>Order your steaks today, get them tomorrow.</p>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-9 colcentered item-main layer-shadow3 sexy-blue">
        <span class="fa-stack fa-lg block centered">
          <i class="fa fa-cutlery fa-lg" aria-hidden="true"></i>
        </span>
        <p>Preparation and cooking is simple.</p>
      </div>
    </div>
    <div id="satisfaction">
      <div class="container centered">
        <h1 class="why-us centered">Our 100% Satisfaction Guarantee<span><img class="img img-responsive satisfaction-style" src="assets/satisfaction_guarantee.png" /></span></h1>
        <!-- <img class="satisfaction-style" src="assets/satisfaction_guarantee.png" /> -->
        <p class="satisfaction">If you don't like our steaks for any reason we will give you a 100% refund. Simple as that.</p>
      </div>
    </div>
    <div id="store" class="row centered">
      <h1 class="why-us centered">Now it's your turn to enjoy the best steaks</h1>
      <h4 class="centered minus-margin-top">*All steaks come ready to cook</h4>
      <%= react_component('Products', products: @products) %> 
  </div>
  </section>
</div>
