<style>
  .header {
    font-size: 40px;
    text-align: center ;
  }
</style>

<div class="container top-margin" >
  <h1 class="header">We are currently in testing and will be live in mid-September</h1>
  <%= react_component('Products', products: @products) %> 
</div>
