<link rel="stylesheet" type="text/css" href="assets/store.css">
<script type="text/javascript" src="assets/autocomplete.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaTHvfZtxVUnyQGVYTrajZ_gCsmGXKoJM&libraries=places&callback=initAutocomplete" async defer></script>
<link rel="stylesheet" type="text/css" href="assets/checkout.css">
<link rel="stylesheet" type="text/css" href="assets/products.css">
<link rel="stylesheet" type="text/css" href="assets/kevin_yun.scss">
<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">

<%= react_component('NavBar', signedIn: @signed_in) %> 
<div class="container top-margin" >
  <%= react_component('Products', products: @products) %> 
</div>
