<link rel="stylesheet" type="text/css" href="assets/information.css">
<div class="container top-margin bottom-margin">
  <h1 id="story">Special Curated Holiday Packages</h1>
  <p class="bigger"><span class="centered"></span>Enjoy a box of some of our favorites that fit your taste or spoil a friend or family member with a gift they won't forget.</p>
</div>

<%= react_component('Packages', packages: @packages) %> 
