<link rel="stylesheet" type="text/css" href="assets/index.css">

<style>
  .store {
    /*background-color: #eeeeee;*/
    padding-bottom: 100px;
    padding-top: 20px;
    /*font-family: 'Fredoka One', cursive;*/
    text-align: center;
  }

  .smaller {
    font-size: 16px;
    margin-top: 30px;
  }

  p {
    font-size: 30px;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
  }
</style>
<div>
  <div id="content" class="store" class="row centered">
    <div>
      <a href="/checkout" class="shop-background checkout">
        Checkout >>>
      </a>
    </div>
    <div class="centered" />
      <h1 class="why-us centered">You Won't Find A Better Steak, Guaranteed</h1>
      <p>Why buy our steaks? All of our meat is aged, the highest quality and always delivered fresh, never frozen. Every steak you order is cut the day of your delivery, so you always get the freshest steaks available.
      <!-- <h4 class="centered minus-margin-top">*All steaks come ready to cook</h4> -->
      <%= react_component('Products', products: @products, showButtons: true, showCartTotals: true) %> 
      <a href="/holidays"><p style="text-align: center">View Our Curated Holiday Packages</p></a>
      <a href="mailto:support@iheartmeat.com?subject=Special Request"><p class="smaller" style="text-align: center">Can't find what you are looking for? Email us</p></a>
    </div>
  </div>
</div>
