<!DOCTYPE html>
<html>
<head>
  <title>IHeartMeat</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <scr rel="javascript" type="text/css" href="https://code.jquery.com/jquery-3.2.1.min.js">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0" />
</head>
<body>

<%= yield %>

</body>
</html>
